<nav class="flex justify-center align-center space-x-4 bg-[#3778c2] text-white">
  </nav>

<div class="h-screen flex justify-center items-center align-tems-center bg-gray">
<div class="py-10">
<h class="w-full p-4 rounded-2xl text-3xl italic font-bold  text-center ">DigiBudget</h>
<% if user_signed_in? %>
 <div class="py-8">  
      <h1 class="text-2xl text-center italic font-bold text-[#3671b9]">Welcome</h1>
    </div><br />
<button class="w-full bg-[#3671b9] rounded-xl p-3 text-white font-bold hover:bg-[#4cbb17] text-center uppercase" onclick="location.href='/categories'">Categories</button><br /><br />
<%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "w-full bg-[#3671b9] rounded-2xl p-3 text-white font-bold hover:bg-[#B1365B] text-center uppercase" %>
<% else %>
<div class="flex justify-center">
<div class="w-full">
<div class="flex flex-col space-y-5 w-80 py-10">
      <%= link_to 'Log in', new_user_session_path, class: "w-full bg-[#3671b9] rounded-3xl p-3 text-white font-bold transition duration-200 hover:bg-[#003087] text-center" %>
    <div class="flex items-center justify-center border-t-[1px] border-t-slate-300 w-full relative">
      <div class="-mt-1 font-bod bg-white px-5 absolute">Or</div>
    </div>
      <%= link_to 'Sign Up', new_user_registration_path, class: "w-full border-blue-900 hover:border-[#003087] hover:border-[2px] border-[1px] rounded-3xl p-3 text-[#0070ba] font-bold transition duration-200 text-center" %>
    </div>
<% end %>
</div>
</div>


