<div class="min-h-screen flex justify-center items-center bg-gray">
<div class="p-10 border-4 border-gray-300 rounded-lg shadow-lg items-center space-y-3">
<div class="py-10">
<h1 class="text-3xl font-bold text-center">DigiBudget</h1>
<p class="text-center text-gray-700">
<%= t('welcome to the Digi Budget') %>
</p>
<div class="flex flex-col items-center">
<%= link_to t('sign up'), new_user_registration_path, class: 'btn btn-primary' %>
<div class="text-center text-gray-700">
<%= t('or') %>
</div>  
<%= link_to t('sign in'), new_user_session_path, class: 'btn btn-secondary' %>

</div>
</div>
</div>
